<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!producto">Datos del producto</ion-title>
    <ion-title *ngIf="producto">Datos de {{producto.nombre}}</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="salir()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="todo && todo.controls">
    <ion-card-content>
      <form [formGroup]="todo">
        <ion-item>
          <ion-label position="stacked">Código:</ion-label>
          <ion-input required type="text" formControlName="id" (ionChange)="updateFilePath()"></ion-input>
        </ion-item>

        <div *ngIf="todo.controls.id.errors && todo.controls.id.touched">
          <ion-item color="danger" *ngIf="todo.controls.id.errors.required">
            <p>El código del producto no es válido</p>
          </ion-item>

          <ion-item color="danger" *ngIf="todo.controls.id.errors.valorUnico">
            <p>El código ingresado ya existe</p>
          </ion-item>
        </div>

        <ion-item>
          <ion-label position="stacked">Producto:</ion-label>
          <ion-input required type="text" formControlName="nombre" maxlength="30"></ion-input>
        </ion-item>

        <ion-item color="danger" *ngIf="todo.controls.nombre.errors && todo.controls.nombre.touched">
          <p>El nombre del producto no es válido</p>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Descripción:</ion-label>
          <ion-textarea required type="text" formControlName="descripcion" maxlength="1000"></ion-textarea>
        </ion-item>

        <ion-item color="danger" *ngIf="todo.controls.descripcion.errors && todo.controls.descripcion.touched">
          <p>La descripción del producto no es válida</p>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Grupo:</ion-label>
          <ion-select required formControlName="grupo" interface="action-sheet">
            <ion-select-option *ngFor="let grupo of grupos" [value]="grupo">{{grupo.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item color="danger" *ngIf="todo.controls.grupo.errors && todo.controls.grupo.touched">
          <p>El grupo del producto no es válido</p>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Precio:</ion-label>
          <input required inputmode="numeric" type="text" [value]="todo.get('precio').value | udpCurrency"
            formControlName="precio" placeholder="$ 0">
        </ion-item>

        <ion-item color="danger" *ngIf="todo.controls.precio.errors && todo.controls.precio.touched">
          <p>El precio del producto no es válido</p>
        </ion-item>

        <ion-item *ngIf="todo.controls.imagen.value">
          <img [src]="todo.controls.imagen.value" style="max-width:300px; margin: 0 auto" />
        </ion-item>

        <ion-item *ngIf="!mobile && todo.controls.id.value">
          <label class="item item-input"> <input type="file" id="upimgfile" name="uploadfile" (change)="seleccionarImagen($event)">
          </label>
        </ion-item>

        <ion-item *ngIf="mobile && todo.controls.id.value">
          <ion-fab vertical="bottom" horizontal="center">
            <ion-fab-button size="small">
              <ion-icon name="image"></ion-icon>
            </ion-fab-button>

            <ion-fab-list side="start">
              <ion-fab-button (click)="sacarFoto()">
                <ion-icon name="camera"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>

            <ion-fab-list side="end">
              <ion-fab-button>
                <ion-icon name="cloud-upload" (click)="cargarImagen()"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button type="submit" fill="solid" color="secondary" [disabled]="!todo || todo.invalid" (click)="guardar()">
        <ion-icon slot="start" name="checkmark"></ion-icon>
        Guardar
      </ion-button>

      <ion-button *ngIf="id" fill="solid" color="danger" (click)="eliminar()">
        <ion-icon slot="start" name="trash"></ion-icon>
        Eliminar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>