<ion-header>
  <ion-toolbar>
    <ion-title>Datos del producto {{producto.nombre}}</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="salir()">
        <ion-icon name="md-close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="todo">
        <ion-item>
          <ion-label position="stacked">Código:</ion-label>
          <ion-input type="text" formControlName="id" [disabled]="id" (ionChanged)="updateFilePath()"></ion-input>
        </ion-item>

        <div *ngIf="todo.controls.id.errors && todo.controls.id.touched">
          <ion-item color="danger" *ngIf="todo.controls.id.errors.required">
            <p>El código del producto no es válido</p>
          </ion-item>

          <ion-item color="danger" *ngIf="todo.controls.id.errors.valorUnico">
            <p>El código ingresado ya existe</p>
          </ion-item>
        </div>

        <ion-item>
          <ion-label position="stacked">Producto:</ion-label>
          <ion-input type="text" formControlName="nombre" maxlength="30"></ion-input>
        </ion-item>

        <ion-item color="danger" *ngIf="todo.controls.nombre.errors && todo.controls.nombre.touched">
          <p>El nombre del producto no es válida</p>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Descripción:</ion-label>
          <ion-textarea type="text" formControlName="descripcion" maxlength="1000"></ion-textarea>
        </ion-item>

        <ion-item color="danger" *ngIf="todo.controls.descripcion.errors && todo.controls.descripcion.touched">
          <p>La descripción del producto no es válida</p>
        </ion-item>

        <ion-item (click)="marcas()">
          <ion-label position="stacked">Marca:</ion-label>
          <ion-input type="text" readOnly="true" formControlName="marca" value="{{marca}}"></ion-input>
        </ion-item>

        <ion-item color="danger" *ngIf="todo.controls.marca.errors && todo.controls.marca.touched">
          <p>La marca del producto no es válida</p>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Grupo:</ion-label>
          <ion-select formControlName="grupo" interface="popover">
            <ion-select-option *ngFor="let grupo of grupos" [value]="grupo">{{grupo.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item color="danger" *ngIf="todo.controls.grupo.errors && todo.controls.grupo.touched">
          <p>El grupo del producto no es válido</p>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Alerta:</ion-label>
          <ion-input type="number" formControlName="alerta"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Precio:</ion-label>
          <input inputmode="numeric" type="text" [value]="todo.get('precio').value | udpCurrency" formControlName="precio"
            placeholder="$ 0">
        </ion-item>

        <ion-item color="danger" *ngIf="todo.controls.precio.errors && todo.controls.precio.touched">
          <p>El precio del producto no es válido</p>
        </ion-item>

        <ion-item style="text-align: center" *ngIf="todo.controls.imagen.value">
          <img [src]="todo.controls.imagen.value" style="max-width:300px;" />
        </ion-item>

        <ion-item *ngIf="!mobile">
          <label class="item item-input"> <input type="file" id="upimgfile" name="uploadfile" (change)="seleccionarImagen($event)">
          </label>
        </ion-item>

        <ion-item *ngIf="mobile && todo.controls.id.value">
          <ion-fab vertical="bottom" horizontal="center">
            <ion-fab-button size="small">
              <ion-icon name="image"></ion-icon>
            </ion-fab-button>

            <ion-fab-list side="start">
              <ion-fab-button (click)="sacarFoto()">
                <ion-icon name="camera"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>

            <ion-fab-list side="end">
              <ion-fab-button>
                <ion-icon name="cloud-upload" (click)="cargarImagen()"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-item>

        <ion-button type="submit" icon-right full large color="secondary" [disabled]="!todo.valid" (click)="guardar()">Guardar
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>

        <ion-button *ngIf="id" icon-right full large color="danger" (click)="eliminar()">Eliminar
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>