<ion-header>
  <ion-toolbar>
    <ion-title>Ventas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item (click)="ir('detalle')">
      <ion-icon name="add-circle" slot="start"></ion-icon>
      <ion-label>Nueva venta</ion-label>
    </ion-item>

    <ion-item (click)="ir('reporte')">
      <ion-icon name="list-box" slot="start"></ion-icon>
      <ion-label>Registro de ventas</ion-label>
    </ion-item>

    <ion-item (click)="ir('reporte-producto')">
      <ion-icon name="stats" slot="start"></ion-icon>
      <ion-label>Registro de productos vendidos</ion-label>
    </ion-item>
  </ion-list>
</ion-content>