<ion-content>
  <div class="background">
    <ion-grid>
      <ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-4 style="margin-left: auto;margin-right: auto;display: block;">
          <img src="assets/imgs/logo2.png" style="width:100%;">
        </ion-col>
        <ion-col col-4></ion-col>
      </ion-row>
    </ion-grid>

    <ion-card *ngIf="todo && todo.controls">
      <form [formGroup]="todo">
        <ion-item>
          <ion-label position="floating" color="dark">Email</ion-label>
          <ion-input type="email" formControlName="username"></ion-input>
        </ion-item>

        <ion-item color="danger" *ngIf="todo.controls.username.errors && todo.controls.username.touched">
          <p>El correo electrónico no es válido</p>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="dark">Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item color="danger" *ngIf="todo.controls.password.errors && todo.controls.password.touched">
          <p>La contraseña no es válida</p>
        </ion-item>

        <ion-button color="primary" expand="block" style="margin-top: 10px" (click)="logueo()" [disabled]="todo.invalid">INGRESAR</ion-button>

        <!--<p>¿Olvidaste tu contraseña?
            <a>Entra aquí</a>
          </p>-->
      </form>
    </ion-card>
  </div>
</ion-content>