<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Periocidad</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let filtro of filtros" (click)="updateReporte(filtro)">{{filtro}}</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Registro de ventas</ion-title>
    <ion-grid [ngSwitch]="periocidad">
      <ion-row *ngSwitchCase="'MENSUAL'">
        <ion-col size="1" offset="4">
          <ion-button fill="clear" (click)="updateFechaMes(-1)" *ngIf="atras">
            <ion-icon slot="icon-only" name="arrow-dropleft"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2">
          <ion-select fill="clear" style="text-align: center; font-weight: bolder;" interface="action-sheet"
            [(ngModel)]="mesSeleccionado" #C (ionChange)="updateSeleccionadoMes(C.value)">
            <ion-select-option *ngFor="let fecha of fechas" [value]="fecha">{{fecha.texto}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="1">
          <ion-button fill="clear" (click)="updateFechaMes(1)" *ngIf="adelante">
            <ion-icon slot="icon-only" name="arrow-dropright"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngSwitchCase="'DIARIO'">
        <ion-col class="center">
          <ion-button fill="clear" (click)="seleccionarFecha()">
            <ion-icon name="calendar" slot="start"></ion-icon>
            {{fecha | date: 'fullDate' }}
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row style="width: 70%; margin: auto;" *ngSwitchCase="'SEMANAL'">
        <ion-col col-1>
          <ion-buttons start>
            <button ion-button icon-left (click)="updateFechaSemana(-1)" *ngIf="atras">
              <ion-icon name="arrow-dropleft"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
        <ion-col col-10>
          <ion-label style="width: 100%; max-width: 100%; text-align: center; color: #ffffff; font-weight: bolder;">{{textoSemana}}</ion-label>
        </ion-col>
        <ion-col col-1>
          <ion-buttons end>
            <button ion-button icon-right (click)="updateFechaSemana(1)" *ngIf="adelante">
              <ion-icon name="arrow-dropright"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>

      <ion-row style="width: 70%; margin: auto;" *ngSwitchCase="'ANUAL'">
        <ion-col col-1>
          <ion-buttons start>
            <button ion-button icon-left (click)="updateFechaAno(-1)" *ngIf="atras">
              <ion-icon name="arrow-dropleft"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
        <ion-col col-10>
          <ion-label style="width: 100%; max-width: 100%; text-align: center; color: #ffffff; font-weight: bolder;">{{textoAno}}</ion-label>
        </ion-col>
        <ion-col col-1>
          <ion-buttons end>
            <button ion-button icon-right (click)="updateFechaAno(1)" *ngIf="adelante">
              <ion-icon name="arrow-dropright"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="reporte">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-text color="dark" class="center">
            <h2>Total ventas: </h2>
          </ion-text>

          <ion-text color="danger" class="left">
            <h2>{{ reporte.total | currency:'COP':'symbol':'4.0' }}</h2>
          </ion-text>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-text color="dark" class="center">
            <h2>Cantidad ventas: </h2>
          </ion-text>
          <ion-text color="success" class="left">
            <h2>{{reporte.cantidad}}</h2>
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item *ngFor="let detalle of reporte.detalle" (tap)="ver(detalle.usuario.id)">
      <ion-avatar item-start *ngIf="detalle.usuario.imagen">
        <img [src]="detalle.usuario.imagen">
      </ion-avatar>
      <ion-text color="medium"><strong style="color: #000000">{{detalle.usuario.nombre}}</strong><br />
        Ventas: {{detalle.cantidad}}
      </ion-text>
      <ion-text color="danger" slot="end"><strong>{{detalle.total | currency:'COP':'symbol':'4.0'}}</strong></ion-text>
    </ion-item>
  </ion-list>
</ion-content>