<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Periocidad</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let filtro of filtros" (click)="updateReporte(filtro)">{{filtro}}</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Registro de ventas</ion-title>
    <ion-grid [ngSwitch]="periocidad">
      <ion-row *ngSwitchCase="'MENSUAL'">
        <ion-col class="center">
          <ion-select fill="clear" style="color: #3880ff;" interface="action-sheet" [interfaceOptions]="customActionSheetOptions"
            [(ngModel)]="mesSeleccionado" #C (ionChange)="seleccionarMes(C.value)">
            <ion-select-option *ngFor="let fecha of fechas" [value]="fecha">{{fecha.texto}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row *ngSwitchCase="'DIARIO'">
        <ion-col class="center">
          <ion-button fill="clear" (click)="seleccionarFecha()">
            <ion-icon name="calendar" slot="start"></ion-icon>
            {{fecha | date: 'fullDate' }}
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngSwitchCase="'SEMANAL'">
        <ion-col class="center" offset="4">
          <ion-buttons>
            <ion-button color="primary" (click)="seleccionarSemana(-1)" [disabled]="!atras">
              <ion-icon slot="icon-only" name="arrow-dropleft"></ion-icon>
            </ion-button>
            <ion-text color="medium">{{semana}}</ion-text>
            <ion-button color="primary" (click)="seleccionarSemana(1)" [disabled]="!adelante">
              <ion-icon slot="icon-only" name="arrow-dropright"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>

      <ion-row *ngSwitchCase="'ANUAL'">
        <ion-col class="center" offset="5">
          <ion-buttons start>
            <ion-button color="primary" (click)="seleccionarAnno(-1)" [disabled]="!atras">
              <ion-icon name="arrow-dropleft"></ion-icon>
            </ion-button>
            <ion-text color="medium">{{anno}}</ion-text>
            <ion-button color="primary" (click)="seleccionarAnno(1)" [disabled]="!adelante">
              <ion-icon slot="icon-only" name="arrow-dropright"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="reporte">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-text color="dark" class="center">
            <h2>Total ventas: </h2>
          </ion-text>

          <ion-text color="danger" class="left">
            <h2>{{ reporte.total | currency:'COP':'symbol':'4.0' }}</h2>
          </ion-text>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-text color="dark" class="center">
            <h2>Cantidad ventas: </h2>
          </ion-text>
          <ion-text color="success" class="left">
            <h2>{{reporte.cantidad}}</h2>
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item *ngFor="let detalle of reporte.detalle" (click)="ver(detalle.usuario.id)">
      <ion-avatar item-start *ngIf="detalle.usuario.imagen">
        <img [src]="detalle.usuario.imagen">
      </ion-avatar>
      <ion-text color="medium"><strong style="color: #000000">{{detalle.usuario.nombre}}</strong><br />
        Ventas: {{detalle.cantidad}}
      </ion-text>
      <ion-text color="danger" slot="end"><strong>{{detalle.total | currency:'COP':'symbol':'4.0'}}</strong></ion-text>
    </ion-item>
  </ion-list>
</ion-content>