<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Periocidad</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let filtro of filtros" (click)="updateReporte(filtro)">{{filtro}}</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>

<ion-header>
  <ion-toolbar>
    <ion-title>Registro de ventas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>