<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let grupo of gruposProducto">
    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label>{{grupo.grupo.nombre}}</ion-label>
      </ion-item-divider>

      <ion-grid>
        <ion-row>
          <ion-col size="3" *ngFor="let producto of grupo.productos">
            <ion-card style="margin: 0px;" (click)="ver(producto.id)">
              <ion-card-header text-wrap>
                {{producto.nombre}}
              </ion-card-header>
              <ion-card-content style="text-align: right; padding: 0;">
                <img [src]="producto.imagen">
                <strong style="margin-right: 10px;">{{producto.precio | currency : USD: symbol: '4.0' }}</strong>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item-group>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="ver()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>